// Font property
$font-fam-1: 'Playfair Display', serif;
$font-fam-2: 'Fauna One', serif;
$font-size: 14px;

// Color property
$color-main-1:#A8CF45;
$color-shade-1:#FFFFFF;
$color-shade-2:#DEDEDE;
$color-shade-3:#9A9A9A;
$color-shade-4:#787878;
$color-shade-5:#252525;
